@font-face {
    font-family: 'Open Sans';
    src: url(/assets/shared/fonts/OpenSans-Regular-webfont.eot);
    src: url(/assets/shared/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(/assets/shared/fonts/OpenSans-Regular-webfont.woff) format('woff'),
         url(/assets/shared/fonts/OpenSans-Regular-webfont.ttf) format('truetype'),
         url(/assets/shared/fonts/OpenSans-Regular-webfont.svg#open_sansregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Semi-bold';
    src: url(/assets/shared/fonts/OpenSans-Semibold-webfont.eot);
    src: url(/assets/shared/fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'),
         url(/assets/shared/fonts/OpenSans-Semibold-webfont.woff) format('woff'),
         url(/assets/shared/fonts/OpenSans-Semibold-webfont.ttf) format('truetype'),
         url(/assets/shared/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

$font: 'Open Sans', sans-serif;
$fontSemiBold: 'Open Sans Semi-bold', sans-serif;
$fontLight: 'Open Sans light', sans-serif;
$headerFont: Arial, "Helvetica Neue", Helvetica, sans-serif;
$textColor: #a5a5a5;
$textHover: #5f5f5f;
$textCancel: #a6a3a3;
$successColor: #4DA86B;
$successHover: #39784E;
$errorColor: #FF5252;
$outlineColor: blue;
